body {
  background: #d0eac2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #d0eac2, #8DC26F);
  background: -moz-linear-gradient(right, #d0eac2, #8DC26F);
  background: -o-linear-gradient(right, #d0eac2, #8DC26F);
  background: linear-gradient(to left, #d0eac2, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table{
  width: 70%;
  border-collapse: collapse;
}
.menuButton{
  position: fixed;
  top: 10px;
  z-index: 100;
  left: 80%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
