.error{
  width: 100%;
  margin-bottom: 15px;
  margin-left: 20%;
  font-size: 25px;
  color: darkred;
  text-decoration: none;
}
table,tr,td,th{
  margin-left: 10%;
}
.search{
  margin-left: 10%;
  margin-top: 10px;
}
th.mat-sort-header-sorted {
  color: black;
}
